<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    
    
    <!-- Agregar enlaces a las bibliotecas de jQuery y Select2 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Inicializar Select2 -->
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</head>
<body>
    
    <h1>Registro de Cliente</h1>
    <form action="/personas/nueva/" method="post">
    
        
        <label for="documento">Número de Documento:</label>
        <input type="text" id="documento" name="documento" required><br><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required><br><br>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

        <label for="ciudad">Ciudad:</label>
        <select id="ciudad" name="ciudad" class="select2" required><br><br>
            <!-- Opciones de ciudades -->
            <option value=""></option>
            <option value="ciudad1">Bogota</option>
            <option value="ciudad2">Cali</option>
            <option value="ciudad3">Medellin</option>
            <option value="ciudad4">San Andres</option>
            <option value="ciudad5">Barranquilla</option>
            <!-- Fin de opciones de ciudades -->
        </select><br><br>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required><br><br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required><br><br>

        <label for="ocupacion">Ocupación:</label>
        <select id="ocupacion" name="ocupacion" required>
            <option value="Empleado">Empleado</option>
            <option value="Independiente">Independiente</option>
            <option value="Pensionado">Pensionado</option>
        </select><br><br>
     <input type="submit" value="Registrar" class="resetear">

    </form>
    <div class="list-group">
        <div
          class="card card-body bg-secondary text-light d-flex flex-row justify-content-between mb-2"
        >
          <div>
            <h3 class="h6">{{task.title}}</h3>
            <p>{{task.description}}</p>
          </div>
          <form action="{ url 'delete_task' task.id" method="POST">
            
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      
      <h1 class="text-light">No tasks yet</h1>
      
    </div>
  </body>
</html>
</body>
</html>