<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personas</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Personas</h1>
        <ul class="list-group" id="lista-personas">
            {% for persona in personas %}
            <li class="list-group-item" id="persona-{{ persona.numero_de_documento }}">
                {{ persona.nombre }} {{ persona.apellidos }} - {{ persona.fecha_nacimiento }} - {{ persona.ciudad }} - {{ persona.correo }} - {{ persona.telefono }} - {{ persona.ocupacion }}- {{persona.viable}}
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'crear_personas' %}" class="btn btn-primary mt-3">Regresar al Formulario Principal</a>
    </div>
</body>
</html>